<%= form_for(@shuttle) do |f| %>
  <% if @shuttle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shuttle.errors.count, "error") %> prohibited this shuttle from being saved:</h2>

      <ul>
      <% @shuttle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :funding %><br />
    <%= f.number_field :funding %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
